/* Base CSS */

@import url('https://fonts.googleapis.com/css?family=Khula:300,400,600');

.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 400;
    color: #373737;
}
body {
    font-family: 'Khula', sans-serif;
    font-size: 15px;
    color: #999;
    font-weight: 300;
}
a:hover {
    text-decoration: none;
    color: #fff;
}


.mainmenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mainmenu ul li {
  display: inline-block;
  position: relative;
}
.mainmenu ul li a {
  display: block;
  color: #888;
  padding: 12px 15px;
  text-transform: capitalize;
  transition: .5s;
}
.box-btn, input[type="submit"], button[type="submit"] {
  display: inline-block;
  color: #fff;
  background: #ef476f;
  padding: 12px 28px;
  border-radius: 3px;
  font-weight: 400;
  font-size: 14px;
  transition: .5s;
}
.header-area {
  padding: 20px 0;
}
.hero-area h1 {
  font-size: 40px;
  color: #373737;
  max-width: 450px;
  margin-bottom: 20px;
  padding-top: 25px;
}
input[type="text"], input[type="tel"], input[type="password"], input[type="url"], input[type="email"], textarea {
  border: 1px solid #efefef;
  padding: 10px 15px;
  border-radius: 3px;
}
input[type="url"] {
  min-width: 300px;
  float: left;
}
input[type="submit"], button[type="submit"] {
  border: none;
  padding: 11px 30px;
  margin-left: 12px;
}
.website-checker-form {
  margin-top: 35px;
}
.hero-area {
  padding: 150px 0;
  border-bottom: 1px solid #f6f6f6;
}
.mainmenu ul li a:hover {
  color: #ef476f;
}
.box-btn:hover, input[type="submit"]:hover {
  background: #000;
}


.section-padding {
  padding: 150px 0;
}
.section-tittle {
  margin-bottom: 90px;
}
.section-tittle h2 {
  font-size: 28px;
}
.single-service-box {
  border: 1px solid #f3f3f3;
  border-radius: 2px;
  margin-bottom: 50px;
  padding: 25px;
  line-height: 1.6;
  transition: .5s;
}
.service-icon {
  font-size: 35px;
  color: #231f20;
  font-weight: 400;
  transition: .5s;
}
.single-service-box h3 {
  font-size: 20px;
  margin: 20px 0;
  transition: .5s;
}
.service-readmore-btn {
  color: #373737;
  font-weight: 400;
  display: inline-block;
  margin-top: 10px;
  transition: .5s;
}
.service-readmore-btn i.zmdi {
  padding-left: 5px;
}
.single-service-box:hover {
    border-color: #ef476f;
}
.single-service-box:hover .service-icon, .single-service-box:hover h3, .single-service-box:hover .service-readmore-btn {
  color: #ef476f;
}
.pdt50 {
  padding-top: 50px;
}
.marketing-section {
  font-weight: 400;
}
.marketing-section h2 {
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 30px;
}
.marketing-section .box-btn {
  margin-top: 20px;
}
