body {
    font-size: 14px;
}
.mainmenu ul li a:hover {
    color: #06d6a0;
}
.hero-area{background:#279ef7 url(../img/hero-bg02.png) no-repeat center center/cover}

.box-btn, input[type="submit"], button[type="submit"] {
    background-color: #06d6a0;
}
.box-btn:hover, input[type="submit"]:hover {
  background: #05bdfe;
}

.hero-area {
  color: #fff;
}
.hero-area h1 {
  font-size: 45px;
  color: #fff;
  margin-top: 110px;
}
.hero-area p {
  font-size: 15px;
  line-height: 1.8;
}
.hero-area {
  color: #fff;
}



.about-content h3 {
  font-size: 22px;
  margin-bottom: 35px;
}
.about-content {
  margin-top: 30px;
}
.about-content p {
  line-height: 2.1;
  margin-bottom: 30px;
}

.single-service-box-2 {
  height: 255px;
  background: #fbfbfb;
  display: table;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 1;
}
.single-service-box-2:before {
    content:"";
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #05bdfe, #4482ec);
    position: absolute;
    z-index: -1;
    opacity: 0;
    transition: .5s;
}
.service-box-cell {
  display: table-cell;
  vertical-align: middle;
  padding: 30px;
}
.single-service-box-2 i {
  font-size: 30px;
  margin-bottom: 25px;
  color: #3196f6;
  transition: .3s;
}
.single-service-box-2 h3 {
  font-size: 22px;
  transition: .3s;
}
.single-service-box-2:hover i, .single-service-box-2:hover h3 {
  color: #fff;
}
.single-service-box-2:hover:before {
    opacity: 1;
}
