
/* ==================================================================
  [Layout]

  * body
      + Base CSS
          -Fonts CSS
      + Menu CSS
      + Services CSS
      + Tile gallery CSS
      + Pricing CSS
      + Case studies CSS
          -case study V1/V2 CSS 

===================================================================== */


/*=====================
      Base CSS
=======================*/
body {font-size: 15px;}
.box-btn, input[type="submit"], button[type="submit"] {
  font-weight: 600;
  background-color: #06d6a0;
}
.box-btn:hover, input[type="submit"]:hover {background: #373737;}

/*=====================
      Menu CSS
=======================*/
.mainmenu ul li a:hover {color: #06d6a0;}

/*=====================
     Services CSS 
=======================*/
.theme-3 .single-service-box:hover .service-icon, .single-service-box:hover h3 {color: #373737;}

/*=======================
     Tile gallery CSS
=========================*/
.tile-gallery-text{padding: 30px 0 0 0;}

/*=====================
     Pricing  CSS 
=======================*/
.pricing-count {color: #06d6a0;}
.single-pricing-box:hover, .single-pricing-box:hover .pricing-heading {border-color: #06d6a0;}

/*==========================
     Case studies CSS 
============================*/
.single-case-cell {
  background: none;
  position: relative;
  z-index: 1;
}
.single-case-cell:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #06d6a0;
  opacity: .9;
  z-index: -1;
}
.single-case-cell h4 {
  font-size: 20px;
  margin-bottom: 10px;
}
.single-case-cell p {font-size: 14px;}
.case-study-more {
  background: none;
  margin-top: 0;
  color: #fff;
  font-size: 20px;
  line-height: 1.4;
  height: 0;
  width: 0;
  margin-left: -15px;
}
.case-study-more:hover {
  background: none;
  color: #373737;
}

  /*--------------------------
      case study V1/V2 CSS 
  ----------------------------*/
.case-study-v1, .case-study-v2 {
    margin: -15px 0;
}
.case-study-v1 .single-case, .case-study-v2 .case-study-box-preview {
    height: 300px;
    margin: 15px 0;
}