* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Audiowide', cursive;
}

a, a:hover, a:focus {
    text-decoration: none;
}

.mainmenu-area {
    background: #fff url(img/device.png) no-repeat center center;
    height: 100%;
}
.mainmenu-area ul {
  background: #BDC9AA;
  padding: 0;
  margin: 0;
  list-style: none;
}
.mainmenu-area ul li {
    display: inline-block;
    position: relative;
}
.mainmenu-area li a {
  color: #fff;
  display: block;
  padding: 20px;
  font-size: 20px;
}
.mainmenu-area li:hover > a {
    background: #87b971;
    color: #373737;
}

.mainmenu-area li ul.sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  transform: scale(1.1);
  z-index: 2;
}
.mainmenu-area li ul.sub-menu li {
  display: block;
}
.mainmenu-area li:hover > ul.sub-menu {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.mainmenu-area li ul.sub-menu a {
  padding: 15px 20px;
}
.mainmenu-area li ul.sub-menu ul.sub-menu {
  left: 100%;
  top: 0;
}


