.slide-bg-1 {background: url(../img/slide-bg-1.jpg) no-repeat center center/cover}
.slide-bg-2 {background: url(../img/slide-bg-2.jpg) no-repeat center center/cover}
.slide-bg-3 {background: url(../img/slide-bg-3.jpg) no-repeat center center/cover}

.case2-bg-01{background: url(../img/case2-bg-01.jpg) no-repeat center center/cover}
.case2-bg-02{background: url(../img/case2-bg-02.jpg) no-repeat center center/cover}
.case2-bg-03{background: url(../img/case2-bg-03.jpg) no-repeat center center/cover}
.case2-bg-04{background: url(../img/case2-bg-04.jpg) no-repeat center center/cover}
.case2-bg-05{background: url(../img/case2-bg-05.jpg) no-repeat center center/cover}

.blog-bg-1{background: url(../img/blog-bg-1.jpg) no-repeat center center/cover}
.blog-bg-2{background: url(../img/blog-bg-2.jpg) no-repeat center center/cover}
.blog-bg-3{background: url(../img/blog-bg-3.jpg) no-repeat center center/cover}

.cta-area.theme-3 {background: url(../img/cta2-bg.jpg) no-repeat center center/cover}

.box-btn, input[type="submit"], button[type="submit"] {
  font-weight: 600;
}
.box-btn:hover, input[type="submit"]:hover {
  background: #373737;
}

html,body {
    height: 100%;
}
body {
    font-size: 15px;
}
.homepage-slides,.single-slide-item,.owl-stage-outer, .owl-stage, .owl-item {
  height: 100%;
}
.single-slide-item:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #2565dd, #1bc6ed);
  left: 0;
  top: 0;
  opacity: .9;
  z-index: -1;
}
.single-slide-item {
  position: relative;
  display: table;
  width: 100%;
  z-index: 1;
  color: #fff;
  line-height: 2;
}
.slide-item-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.single-slide-item h2 {
  font-size: 65px;
  color: #fff;
}
.video-play-btn {
  height: 60px;
  width: 60px;
  display: inline-block;
  background: #06d6a0;
  border-radius: 50%;
  color: #fff;
  line-height: 65px;
  margin-top: 30px;
  padding-left: 2px;
  transition: .3s;
}
.video-play-btn:hover {
    background: #373737;
    color: #05bdfe;
}


.homepage-slides .owl-nav div {
  left: 50px;
  position: absolute;
  top: 50%;
  font-size: 35px;
  color: #fff;
  opacity: 0.5;
  line-height: 30px;
  margin-top: -15px;
  transition: .3s;
}
.homepage-slides .owl-nav div.owl-next {
  left: auto;
  right: 50px;
}
.homepage-slides .owl-nav div:hover {
  opacity: 1;
}


.header-area.header-absolute {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
}
.header-absolute .mainmenu ul li a {
  color: #fff;
}
.header-absolute .mainmenu ul li a:hover {
  color: #06d6a0;
}

.padding-top.overflow-x-hidden {
    overflow: hidden
}
.case-study-carousel.owl-carousel .owl-stage-outer {
  overflow: inherit;
}


.websitel-checker-form-2 input {
  margin-right: 2%;
  width: 26%;
}
.websitel-checker-form-2 input[type=submit] {
  margin-right: 0;
  width: 14.9%;
}
.websitel-checker-form-2 input[type="url"],.websitel-checker-form-2 input[type="text"],.websitel-checker-form-2 input[type="email"]{
  font-size: 14px;
  color: #888888;
}

.theme-3 .about-content p {
  line-height: 28px;
}
.theme-3 .about-content h3 {
  font-size: 24px;
}
.theme-3 .about-content {
  margin-top: 60px;
}


.service-number {
  font-size: 70px;
  font-weight: 400;
  color: #373737;
  opacity: .23;
}
.theme-3 .single-service-box p {
  line-height: 26px;
}
.single-service-box:hover {
  border-color: #06d6a0;
}
.single-service-box:hover .service-readmore-btn {
  color: #06d6a0;
}
.single-service-box:hover .service-icon, .single-service-box:hover h3 {
  color: #373737;
}
.single-service-box {
  margin-bottom: 0;
  border-color: transparent;
}

.single-case-cell {
  background: none;
  position: relative;
  z-index: 1;
}
.single-case-cell:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #06d6a0;
  opacity: .9;
  z-index: -1;
}
.single-case-cell h4 {
  font-size: 20px;
  margin-bottom: 10px;
}
.single-case-cell p {
  font-size: 14px;
}
.case-study-more {
  background: none;
  margin-top: 0;
  color: #fff;
  font-size: 20px;
  line-height: 1.4;
  height: 0;
  width: 0;
  margin-left: -15px;
}
.case-study-more:hover {
  background: none;
  color: #373737;
}

.theme-3 .blog-bg {
  height: 250px;
  margin: -50px -20px 40px -20px;
}
.theme-3 a.single-blog-box {
  display: block;
  color: #999;
  padding-bottom: 30px;
  box-shadow: 1px 3px 8px #e6e6e6;
  border: none;
}
.theme-3 a.single-blog-box p {
  line-height: 28px;
}
.theme-3 a.single-blog-box:hover {
  background: #fff;
  opacity: .9;
}

.cta-area.theme-3 {
  color: #fff;
  padding: 100px 0;
  position: relative;
  z-index: 1;
}
.cta-area.theme-3 h2 {
  font-size: 40px;
  color: #fff;
  margin-bottom: 20px;
}
.cta-area.theme-3 p {
  font-size: 18px;
}
.theme-3 .case-box-btn {
  padding: 15px 45px;
  margin-top: 35px;
  font-weight: 600;
  font-size: 14px;
}
.theme-3 .case-box-btn:hover {
  background: #373737;
  color: #fff;
}
.cta-area.theme-3:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #2565dd, #1bc6ed);
  z-index: -1;
  opacity: .79;
}

.footer-area-2 ul, .copyright-area-2 ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-area-2, .footer-area-2 a, .copyright-area-2 a {
  color: #888;
  transition: .3s;
}
.footer-area-2 li, .copyright-area-2 li {
  display: inline-block;
}
.footer-area-2 li a, .copyright-area-2 li a {
  display: block;
  padding: 12px;
  font-weight: 400;
}
.social-icons a {
  display: inline-block;
  color: #373737;
  padding: 12px 0;
  padding-left: 15px;
}
.footer-area-2 {
  padding: 40px 0;
}
.copyright-area-2 li a {
  padding: 0 0 0 30px;
}
.copyright-area-2 {
  padding: 20px 0;
  border-top: 1px solid #f7f7f7;
}
.footer-area-2 a:hover, .copyright-area-2 a:hover {
  color: #06d6a0;
}