body {
    font-size: 14px;
}
.mainmenu ul li a:hover {
    color: #06d6a0;
}
.hero-area{background:#279ef7 url(../img/hero-bg02.png) no-repeat center center/cover}

.box-btn, input[type="submit"], button[type="submit"] {
    background-color: #06d6a0;
}

.hero-area {
  color: #fff;
}
.hero-area h1 {
  font-size: 45px;
  color: #fff;
  margin-top: 110px;
}
.hero-area p {
  font-size: 15px;
  line-height: 1.8;
}
.hero-area {
  color: #fff;
}
